:root {
  /* Tons de Roxo */

  --color-highlight-11: #d6bffc;
  --color-highlight-10: #bfa3ec;
  --color-highlight-9: #a989dd;
  --color-highlight-8: #936fcc;
  --color-highlight-7: #7c55b9;
  --color-highlight-6: #6a44a7;
  --color-highlight-5: #5b3697;
  --color-highlight-4: #502c8b;
  --color-highlight-3: #411f79;
  --color-highlight-2: #331465;
  --color-highlight-1: #250c4d;

  /* Tons de Cinza  */
  --color-base-100: #ffffff;
  --color-base-97: #f7f7f7;
  --color-base-94: #f0f0f0;
  --color-base-86: #dbdbdb;
  --color-base-80: #e0e0e0;
  --color-base-78: #c7c7c7;
  --color-base-72: #b8b8b8;
  --color-base-70: #b3b3b3;
  --color-base-64: #9e9e9e;
  --color-base-56: #8f8f8f;
  --color-base-54: #8a8a8a;
  --color-base-48: #7a7a7a;
  --color-base-40: #666666;
  --color-base-32: #525252;
  --color-base-24: #3d3d3d;
  --color-base-16: #292929;
  --color-base-8: #141414;
  --color-base-0: #000000;

--bg-principal: var(--color-base-8);
--bg-secundario: var(--color-base-100);
--bg-terciario: var(--color-base-97);
--bg-quaternario: var(--color-base-24);

}

.cor-base-100 {
  color: var(--color-base-100);
}

.cor-base-64 {
  color: var(--color-base-64);
}

.cor-base-40 {
  color: var(--color-base-40);
}

.cor-base-24 {
  color: var(--color-base-24);
}

.detalhe {
  color: var(--color-highlight-11);
}

.destaque-claro {
  color: var(--color-base-100);
}

.destaque--medio {
  color: var(--color-base-86);
}

.destaque--escuro {
  color: var(--color-base-0);
}

