.experiencia-header {
  padding: var(--espaco-secao);
}

.experiencia-item {
  display: grid;
  grid-template-columns: auto minmax(200px, auto);
  padding: var(--espaco-secao);
  gap: var(--espaco-2);
}

.accordion {
  display: none;
}

.accordion.ativo {
  display: block;
  display: grid;
  grid-column: 1 / -1;
  gap: 20px;
}
.experiencia--accordion {
  display: grid;
  gap: 20px;
}

.ano {
  justify-self: end;
  color: var(--color-highlight-11);
  grid-column: 1 / -1;
}

.empresa {
  justify-self: start;
}

.cargo {
  justify-self: end;
}

.historico {
  grid-column: 1 / -1;
}

@media (min-width: 770px) {
  .experiencia-item {
    padding: var(--espaco-4) var(--espaco-4) var(--espaco-5) var(--espaco-4);
    grid-template-columns: 1fr 1fr;
  }

  .historico {
    grid-column: 1 / -1;
    max-width: 80ch;
  }
}

@media (max-width: 360px) {
  .experiencia-item {
    grid-template-columns: 1fr; /* grid-template-columns: minmax(200px, auto); */
  }
  .ano,
  .cargo {
    justify-self: start;
  }
}
