:root {
  /* familia */
  --ff-title: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  /* peso */
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* line-height */
  --lh-max: 1.5;
  --lh-med: 1.3;
  --lh-min: 1.1;

  /* escala */
  --fz-700: 3rem;
  --fz-600: 2.5rem;
  --fz-500: 2rem;
  --fz-400: 1.5rem;
  --fz-300: 1.25rem;
  --fz-200: 1rem;
  --fz-100: 0.875rem;
}

.titulo-principal,
.titulo-secao,
.titulo-subsecao {
  font-family: var(--ff-title);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-min);
}

.titulo-principal {
  font-size: var(--fz-600);
}

.titulo-secao {
  font-size: var(--fz-500);
}

.titulo-subsecao {
  font-size: var(--fz-400);
}

.texto {
  font-family: var(--ff-body);
  font-size: var(--fz-200);
  font-weight: var(--fw-regular);
  line-height: var(--lh-med);
}

.texto--grande {
  font-size: var(--fz-400);
}

.texto--medio {
  font-size: var(--fz-300);
}

.texto--pequeno {
  font-size: var(--fz-100);
}

.peso-negrito {
  font-weight: var(--fw-bold);
}

.peso-seminegrito {
  font-weight: var(--fw-semibold);
}
